.form-announce{
    padding: 2.5rem;
    margin: 4rem auto;
    background-color: #e2e8f0;
    box-shadow: 3px 3px 3px gray;
    border-radius: 20px;
}
.container-announce{
    padding: 1.2rem;
}

.title-announce{
    text-align: center;
    padding: 1rem;
}
.btn-announce{
    padding: .5rem 1.5rem !important;
    border: 1px solid red;
    font-weight: bold;
    border-radius: 20px;
    margin: 2rem auto;
}
.btn-announce:hover{
    border: none;
    background-color: red;
    color: white;
    transition: 1s;
}
.btn-logout{
    font-weight: bold !important;
    padding: .7rem 1.3rem !important;
    border-radius: 20px !important;
    font-size: 1.2rem !important;
}