.form-announce{
    padding: 2rem;
}
.container-announce{
    padding: 1.2rem;
  
  
}

.title-announce{
    text-align: center;
    padding: 1rem;
}
.btn-announce{
    padding: .5rem 1.5rem !important;
    border: 1px solid red;
    font-weight: bold;
    border-radius: 20px;
    margin: 2rem 0;
}
.btn-announce:hover{
    border: none;
    background-color: red;
    color: white;
    transition: 1s;
}
.btn-logout{
    font-weight: bold !important;
    padding: .7rem 1.3rem !important;
    border-radius: 20px !important;
    font-size: 1.2rem !important;
}